@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.li-a {
    @apply relative after:invisible after:opacity-0 after:transition-opacity after:duration-300 after:ease-in-out after:absolute after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:content-['_'] after:w-1/2 after:h-[2px] after:rounded-full after:bg-white hover:after:visible hover:after:opacity-100 active:after:visible active:after:opacity-100;
}

.footer-icon {
    @apply relative after:invisible after:opacity-0 after:transition-opacity after:duration-300 after:ease-in-out after:absolute after:-bottom-2 after:left-1/2 after:-translate-x-1/2 after:content-['_'] after:w-full after:h-[2px] after:rounded-full after:bg-white hover:after:visible hover:after:opacity-100 active:after:visible active:after:opacity-100;
}

.article-h4 {
    @apply absolute bottom-0 left-0 py-4 px-6 leading-7 md:leading-10 uppercase h-max bg-black bg-opacity-20 backdrop-blur-sm flex items-end;
}

article img {
    @apply transition-opacity duration-300 opacity-100;
}

article:hover img {
    opacity: 0.3;
}

article:hover h4 {
    @apply text-black bg-transparent bg-opacity-0 backdrop-blur-none;

}